<% layout('../layout.ejs') -%>

    <head>
        <link rel="stylesheet" href="stylesheets/film/list.css">
        <script src="/javascripts/film/list.js"></script>
    </head>
    <div class="my-portfolio" ng-controller="listCtrl">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 my-portfolio-item hvr-grow" style="font-size: 20px; text-align: center" ng-repeat="film in listFilm"
            ng-cloak>
            <a href="#" class="thumbnail img-responsive">
                <img src="./images/poster_8875.png">
            </a>
            <div class="detail">
                <h3 class="name-film">{{film.name}} {{film.createDate}}</h3>
            </div>
        </div>
    </div>