<% layout('../layout.ejs') -%>

    <head>
        <link rel="stylesheet" href="stylesheets/film/list.css">
    </head>
    <div ng-controller="listCtrl">
        <div class="row" style="font-size: 20px; text-align: center">
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img src="./images/poster_8875.png">
                </a>Rogue One: Star Wars Ngoại Truyện
            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img src="./images/Blade_2.jpg">
                </a>Tội phạm nhân bản
            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img src="./images/maxresdefault (1).jpg">
                </a>Người sói
            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img src="./images/maxresdefault.jpg">
                </a>Đại chiến hai thế giới
            </div>
        </div>
        <div class="row" style="margin-top: 20px; font-size: 20px; text-align: center; height: 300px">
            <div class="col-md-3">
                <a href="#" class="thumbnail img-responsive">
                    <img src="./images/ve-si-sat-thu-banner-1501401687.jpg">
                </a>Vệ sĩ sát thủ
            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img src="./images/aGcQNt2.jpg">
                </a>Cuộc di tản Dunkirk
            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail img-responsive">
                    <img src="./images/DKT36zsV4AAbSr7.jpg">
                </a>Đặc Vụ Kingsman
            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img src="./images/maxresdefault (2).jpg">
                </a>Thiên Tài Bất Hảo
            </div>
        </div>
    </div>