<% layout('../layout.ejs') -%>
  <script>
    if (!!window.performance && window.performance.navigation.type == 2) {
      window.location.reload();
    }</script>

  <head>
    <link rel="stylesheet" href="stylesheets/film/list.css">
    <script src="/javascripts/film/list.js"></script>
  </head>
  <div class="container-fluid my-portfolio" ng-controller="listCtrl">
    <div class="loader" ng-show="loading">
      <h1>LOADING</h1>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="navbar navbar-inverse">
      <div class="container-fuild">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <i class="glyphicon glyphicon-home" style="color:aliceblue" aria-hidden="true">
            </i>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="filmType">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle; navbar-brand" type="button" style="color:aliceblue" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">{{categories}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a ng-repeat="type in listTypeFilms2" href="#" ng-click="clickSearchType(type)" value="{{type}}">{{type}}</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-hide="user.name">
              <a class="navbar-brand hvr-sweep-to-right" href="#" style="color: aliceblue" data-toggle="modal" data-target="#registerModal">Đăng Ký</a>
            </li>
            <li ng-hide="user.name">
              <a class="navbar-brand hvr-sweep-to-right" href="#" style="color: aliceblue" data-toggle="modal" data-target="#loginModal">Đăng Nhập</a>
            </li>
            <li ng-show="user.name">
              <text class="navbar-brand" style="color: aliceblue">{{ 'Chào, ' + user.name}}</text>
            </li>
            <li ng-show="user.name">
              <a class="navbar-brand hvr-sweep-to-right" href="#" ng-click="clickLogout()" style="color: aliceblue">Thoát</a>
            </li>
          </ul>

          <!-- Modal Login-->
          <div class="modal fade" id="loginModal" role="dialog">
            <form name="loginForm">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="row" style="margin-top:10px">
                      <div class="col-xs-12 col-sm-8 col-md-10 col-sm-offset-1 col-md-offset-1">
                        <form class="container-fluid" role="form" autocomplete="off">
                          <fieldset>
                            <h2>Đăng Nhập</h2>
                            <hr class="colorgraph">
                            <div class="form-group">
                              <input required="required" type="email" name="emailLogin" id="email" class="form-control input-lg" ng-model="userEmail" placeholder="Email"
                                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            </div>
                            <div class="form-group">
                              <input required="required" type="password" name="password" id="password" class="form-control input-lg" ng-model="userPassword"
                                placeholder="Mật khẩu">
                            </div>
                            <div class="row form-group">
                                <span class="form-check">
                                    <input type="checkbox" name="rememberChkBox" id="rememberChkBox" checked="checked">
                                    <label>Ghi nhớ tài khoản</label>
                                  </span>
                                <a style="margin-top: -6px; color: black" class="btn btn-link pull-right" data-toggle="modal" data-target="#registerModal" data-dismiss="modal"><b>Quên mật khẩu?</b></a>
                            </div>
                            
                            <hr class="colorgraph">
                            <div class="row">
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="submit" class="btn btn-lg btn-success btn-block" ng-click="clickLogin()" value="Đăng nhập">
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <a href="" data-toggle="modal" data-target="#registerModal" data-dismiss="modal" class="btn btn-lg btn-primary btn-block">Đăng ký</a>
                              </div>
                            </div>
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <!-- Modal Register-->
          <div class="modal fade" id="registerModal" role="dialog">
            <form name="registerForm">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="row" style="margin-top:10px">
                      <div class="col-xs-12 col-sm-8 col-md-10 col-sm-offset-1 col-md-offset-1">
                        <form class="container-fluid" role="form" autocomplete="off">
                          <fieldset>
                            <h2>Đăng Ký</h2>
                            <hr class="colorgraph">
                            <div class="form-group">
                              <input required="required" type="text" name="name" id="name" class="form-control input-lg" ng-model="userName" placeholder="Tên*">
                            </div>
                            <div class="form-group">
                              <input required="required" type="email" name="email" id="emailRegister" class="form-control input-lg" ng-model="userEmail"
                                placeholder="Email*" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            </div>
                            <div class="form-group">
                              <input required="required" type="password" name="passwordRegister" id="passwordRegister" class="form-control input-lg" ng-model="userPassword"
                                placeholder="Mật khẩu*">
                            </div>
                            <div class="form-group">
                              <select required class="form-control input-lg" style="color: rgb(161, 157, 157);" ng-model="userAge" id="userAge">
                                <option disabled selected style="color: rgb(161, 157, 157);" value="">Năm sinh*</option>
                                <option ng-repeat="age in listOld" value="{{age}}">{{age}}</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <select class="form-control input-lg" style="color: rgb(161, 157, 157);" ng-model="userGender" id="gender">
                                <option selected style="color: rgb(161, 157, 157);" value=''>Giới Tính </option>
                                <option ng-repeat="gender in listGender" value="{{gender}}">{{gender}}</option>
                              </select>
                            </div>
                            <hr class="colorgraph">
                            <div class="row">
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="submit" data-toggle="modal" data-target="#loginModal" data-dismiss="modal" class="btn btn-lg btn-info btn-block"
                                  value="Quay lại Đăng Nhập">
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="submit" class="btn btn-lg btn-success btn-block" ng-click="clickRegister()" value="Đăng ký">
                              </div>
                            </div>
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </form>
          </div>

          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control hidden" id="typeSearchFilm" ng-model="typeSearchFilm">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm..." id="searchFilm" ng-model="searchFilm">
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li ng-show="user.name">
              <a class="navbar-brand hvr-sweep-to-right" href="./create" style="color: aliceblue">Thêm Phim</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- List Film -->
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 my-portfolio-item hvr-grow animated FadeIn" style="font-size: 20px; text-align: center; height: 350px"
      ng-repeat="film in listFilm">
      <a href="#" class="thumbnail img-responsive" data-toggle="modal" data-target="#filmDetail" ng-click="clickViewDetail($index)">
        <img src="{{film.filmImage}}">
      </a>
      <div class="detail">
        <h3 class="name-film">{{film.name}} ({{film.createDate}})</h3>
      </div>
    </div>

    <!-- Modal Film Detail-->
    <div class="modal fade" id="filmDetail" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="row" style="margin-top:10px">
              <div class="col-xs-12 col-sm-8 col-md-10 col-sm-offset-1 col-md-offset-1">
                <form class="container-fluid" role="form">
                  <fieldset>
                    <div>
                      <h2 class="name-film">
                        <b>{{filmDetail.name}}</b>
                      </h2>
                      <hr class="colorgraph">
                      <a class="thumbnail img-responsive" >
                        <img src="{{filmDetail.filmImage}}" style="width: auto; height: auto">
                      </a>
                      <div class="form-group">
                        <h3>
                          <b>Năm phát hành: </b>{{filmDetail.createDate}}</h3>
                      </div>
                      <div class="form-group">
                        <h3>
                          <b>Thể loại: </b>{{filmDetail.typeFilm}}</h3>
                      </div>
                      <div class="form-group">
                        <h3>
                          <b>Đạo diễn: </b>{{filmDetail.author}}</h3>
                      </div>
                      <div class="form-group">
                        <h3>
                          <b>Nội dung: </b>{{filmDetail.content}} </h3>
                      </div>
                      <hr class="colorgraph">
                      <div class="row" ng-show="user._id == filmDetail.userCreate">
                        <input data-toggle="modal" data-target="#filmEdit" data-dismiss="modal" class="btn btn-info pull-right" value="Chỉnh sửa">
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Edit Film -->
    <div class="modal fade" id="filmEdit" role="dialog">
      <form name="editFilmForm">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <div class="row" style="margin-top:10px">
                <div class="col-xs-12 col-sm-8 col-md-10 col-sm-offset-1 col-md-offset-1">
                  <form class="container-fluid" role="form">
                    <fieldset>
                      <div>
                        <h3 class="name-film">
                          <b>Chỉnh sửa phim</b>
                        </h3>
                        <hr class="colorgraph">
                        <a class="thumbnail img-responsive">
                          <img src="{{filmEdit.filmImage}}" id="imageUpload" style="width: auto; height: 300px">
                        </a>
                        <form ref='uploadForm' id='uploadForm' action='/api/cinema/upload' method='post' encType="multipart/form-data">
                          <input required class="btn btn-info form-control" id="chooseImage" type="file" name="sampleFile" />
                        </form>
                        <div class="form-group">
                          <h4>
                            <b>Tên: </b>
                          </h4>
                          <input required type="text" class="form-control" id="editName" ng-model="filmEdit.name" name="editName">
                        </div>
                        <div class="form-group">
                          <h4>
                            <b>Năm phát hành:</b>
                          </h4>
                          <select required class="form-control" ng-model="filmEdit.createDate" id="editYear" name="editYear">
                            <option ng-repeat="year in listYear" value="{{year}}">{{year}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <h4>
                            <b>Thể loại:</b>
                          </h4>
                          <select required class="form-control" ng-model="filmEdit.typeFilm" id="editType" name="editType">
                            <option ng-repeat="type in listTypeFilms" value="{{type}}">{{type}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <h4>
                            <b>Đạo diễn:</b>
                          </h4>
                          <input required type="text" ng-model="filmEdit.author" name="editAuthor" id="editAuthor" class="form-control">
                        </div>
                        <div class="form-group">
                          <h4>
                            <b>Nội dung:</b>
                          </h4>
                          <textarea required type="text" class="form-control" style="height: 80px" id="editContent" ng-model="filmEdit.content" name="editContent"></textarea>
                        </div>
                        <hr class="colorgraph">
                        <div class="row text-center">
                          <input type="submit" class="btn btn-success" .sendToUser ng-disabled="editFilmForm.$invalid" ng-click="clickUpdateFilm(filmEdit)"
                            value="Hoàn tất">
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>